SUBSYSTEM=="sound", ACTION=="add", RUN+="/usr/bin/sudo /bin/systemctl --no-block start midi.service"
SUBSYSTEM=="sound", ACTION=="remove", RUN+="/usr/bin/sudo /bin/systemctl --no-block stop midi.service"

